{
    "useTabs": false,
    "printWidth": 80,
    "tabWidth": 2,
    "singleQuote": true,
    "trailingComma": "none",
    "jsxBracketSameLine": true,    
    "parser": "babel-ts",
    "rcVerbose": true,
    "semi": true,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "endOfLine": "crlf"
}