body {
  margin: 0;
  font-family: Aldrich;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #CBE4DE;
}

::-webkit-scrollbar-thumb {
  background: #0E8388;
}